@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Customer Payment Invoice System <a asp-action="index" asp-controller="Customers">building Web apps with ASP.NET Core</a>.</p>
</div>
